/* ========== SEARCH CHARACTER =========== */

.div-search{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-search{
    height: 30px;
    background-color: #daec51;
    color: black;
    border-radius: 10px 10px 10px;
    border: 0px;
    outline: 0;
    padding: 5px;
}

.icon-search{
    color: white;
    cursor: pointer;
}
