/* ========= FOOTER ========= */
.typography-footer{
    width: 100%;
}
.a-link-footer{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 20px;
    color: black;
}
.a-link-footer:hover{
    color: rgb(5, 83, 134);
}
.p-footer-dev{
    display: flex;
    gap: 8px;
}

@media (max-width: 500px){
    .p-footer-dev{
        display: block;
    }

}